@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  font-family: "Itim", cursive;
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

form {
  width: 200px;
  margin: 20px auto;
}

input {
  width: 100%;
  padding: 10px;
}

.poke-card {
  padding: 20px;
  margin: 0 auto;
  position: relative;
  height: fit-content;
  max-width: 300px;
  text-align: center;
  font-size: 20px;
  background: #fff;
  border-radius: 4px;
  border: 2px solid black;
}

.img-container {
  position: relative;
  width: 180px;
  margin: 10px auto;
}

.poke-stats div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  pad: 10px;
}

.xp div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    pad: 10px;
  }

.poke-types {
  padding: 5px;
  border-radius: 4px;
  border: 1px dashed;
}

.poke-img {
  width: 150px;
  border-radius: 70%;
}

